

@{
    ViewBag.Title = "Danh sách khách hàng";
}

<!--form tim kiem -->
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input type="text" class="form-control" name="searchValue" placeholder="Nhập tên cần tìm">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tim kiem
                </button>
            </div>
        </div>
    </form>
</div>

<div id="listCustomers" class="container-fluid"></div>
<!--danh sach khách hàng-->
@*<div class="text-left" style="margin-top : 10px;">
        <p>Có tất cả <strong>@Model.RowCount</strong> nhà cung cấp. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageSize</strong> trang</p>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên nhà cung cấp</th>
                <th>Tên giao dịch</th>
                <th>Địa chỉ</th>
                <th>Quốc gia</th>
                <th>Thành phố</th>
                <th>Mã vùng</th>
                <th>Email</th>
                <th>Password</th>
                <th class="text-right">
                    <a href="~/Customer/Add" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.CustomerName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td class="text-right">
                    <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-info">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i - 1 == 0)
                {
                    int pageGiam = Model.Page - 1;
                    if (pageGiam < 1)
                    {
                        <li><a style="cursor:not-allowed">&lt;&lt;</a></li>
                    }
                    else
                    {

                        <li><a href="~/Customer/Index?page=@pageGiam&searchValue=@Model.SearchValue">&lt;&lt;</a></li>
                    }

                }
                if (i == Model.Page)
                {
                    <li class="active"><a href="~/Customer/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }
                else
                {
                    <li><a href="~/Customer/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }
                if (i + 1 > Model.PageCount)
                {
                    int pageTang = Model.Page + 1;
                    if (pageTang >= Model.PageCount + 1)
                    {
                        <li><a style="cursor:not-allowed; pointer-events:">&gt;&gt;</a></li>
                    }
                    else
                    {

                        <li><a href="~/Customer/Index?page=@pageTang&searchValue=@Model.SearchValue">&gt;&gt;</a></li>
                    }
                }
            }
        </ul>
    </div>
*@

@section scripts {
    <script>
        function getCustomers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Customer/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listCustomers").empty();
                    $("#listCustomers").html(data);
                }
            });
        }
        $(document).ready(function () {
            getCustomers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getCustomers(1);
            });
        });
    </script>
}
