@model LiteCommerce.DomainModels.Supplier
@{
    Layout = null;
}

<div class="text-left">
    <p>
        Có tất cả <strong>@ViewBag.RowCount</strong> mặt hàng.
        Bạn đang ở trang <strong>@ViewBag.Page</strong>
        trên tổng số <strong>@ViewBag.PageCount</strong> trang.
    </p>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>SupplierName</th>
            <th>ContactName</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th class="text-right">
                <a href="~/Suppliers/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.model)
        {
            <tr>
                <td>
                    <a href="~/Suppliers/Details/@item.SupplierID">@item.SupplierName</a>
                </td>              
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.Phone</td>
                @*<td class="text-right">
                    <button class="btn btn-xs btn-info"
                            data-toggle="modal" data-target="#@item.SupplierID">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-xs btn-danger"
                            data-toggle="modal" data-target=".@item.SupplierID">
                        <i class="fa fa-remove"></i>
                    </button>
                </td>*@
                 <td>
                        <a href="~/Suppliers/Edit/@item.SupplierID" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                        <a href="~/Suppliers/Delete/@item.SupplierID" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
                 </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int page = 1; page <= ViewBag.PageCount; page++)
        {
            if (page == ViewBag.Page)
            {
                <li class="active"><a href="javascript:;">@page</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="getSuppliers(@page)">@page</a></li>
            }
        }
    </ul>
</div>

